:root {
    color-scheme: light dark;
  }

body{
    color: light-dark(#333b3c, #efefec);
    background-color: light-dark(#efedea, #223a2c);
}



.section {
    margin-top: 4rem;
    padding-top: 4rem;
}
.section:last-of-type {
    padding-bottom: 4rem;
}
.navbar{
    background-color: #000;
}
    
/* hero background image */
.bgimage {
    height:100vh;
    background: url("images/profile.jpeg");
    background-size:cover;
    position:relative;
    padding: 0;
    margin: 0;
}
/* text css above hero image*/
.hero_title {
    padding-top: 10rem;
    font-size: 4.5rem;
    color: #efedea;
}
.hero_desc {
    font-size: 2rem;
}
.hero_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #efedea;
}

.image_about {
    width: 100%;
}

.navbarDark {
    background: #4444;
}


 .social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover, 
.fa-twitch:hover {
    color: #fff;
}
.fab {
    color: #000000;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}
.containerImage {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    margin: 40px; /* adjust to container size as needed */
  }
  
  .containerImage img {
    width: 350px;              /* Adjust size */
    height: 300px;             /* Adjust size */
    border-radius: 50%;        /* Makes the image circular */
    object-fit: cover;         /* Ensures the image covers the circle area */
    border: 3px solid #4CAF50; /* Adds a border around the image */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    transition: transform 0.3s ease;
  }